@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="/images/homepage_main.jpg" alt="HCMUT Image" class="img-fluid mb-5" />
<div class="container-fluid text-left m-5">
    <div class="row p-5 m-5">
        <div class="p-5 col">
            <h1 class="display-6 fw-bold mb-4">Chào mừng tới với dịch vụ in ấn cho sinh viên</h1>
            <p>Giải pháp nhanh và tiện lợi dành cho sinh viên</p>
            <button type="button" class="black-button mt-4 p-3 col-6">Bắt đầu in</button>
        </div>
        <div class="p-5 col">
            <img src="/images/homepage_printer.jpg" alt="Sample Printer Image" class="img-fluid" />
        </div>
    </div>
</div>
