@using Microsoft.AspNetCore.Identity
@inject UserManager<StudentAccount> UserManager
@{
  ViewData["Title"] = "Mua thêm trang";
  var user = await UserManager.GetUserAsync(User);
  var pageLeft = user?.PageLeft;
  var userId = user?.Id;
}
<div class="buy-page-container d-flex flex-row">
  <div class="flex-fill">
    <h1 class="d-flex justify-content-center h-50 align-items-center">
      <strong>Mua thêm trang</strong>
    </h1>
    <h3 class="d-flex justify-content-center align-items-center">
      Tài khoản còn lại @pageLeft trang A4
    </h3>
  </div>
  <form id="BuyPageForm" method="post" asp-controller="Student" asp-action="UpdateAccount">
    <input type="hidden" asp-for="@userId" name="userId" />
    <div class="w-50 pe-5" style="margin-top: 70px;">
      <div class="right-container mb-5 d-flex flex-column">
        <label class="page-num-text lh-lg">Số trang A4 mua thêm</label>
        <input type="number" id="pageLeft" name="pageLeft" class="page-num-control " placeholder="Nhập vào số trang" />
        <div class="price mt-1">Đơn giá: 500 VNĐ/trang</div>
      </div>

      <div class="mb-5 d-flex flex-column">
        <label class="payment-method-text lh-lg">Phương thức thanh toán</label>
        <div style="width: 500px;">
          <button class="payment-method-button">Thẻ ngân hàng</button>
          <button class="payment-method-button">PayPal</button>
          <button class="payment-method-button">BkPay</button>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="cancel-button me-3 bg-white">Hủy</button>
        <button type="submit" class="buy-button text-white bg-dark border-0">
          Mua Thêm</button>
      </div>
    </div>
  </form>
</div>