@{
    ViewData["Title"] = "Bắt đầu in";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload with Drag & Drop</title>
</head>
<body>

	<h1 class="mainTitle">
			In Tài Liệu
	</h1>

	<div class="documentPrinterBox">
		<div class="documentBox">
			<p class="documentBoxTitle">Tải Tài liệu</p>
			<label for="fileInput" id="documentButton" class="documentButton">Chọn tài liệu để tải</label>
			<input type="file" id="fileInput" accept=".pdf,.docx" style="display: none;">
			<p class="documentBoxText">Loại tệp hỗ trợ: PDF, DOCX</p>
		</div>

		<div class="printBox">
			<p class="printBoxTitle">Chọn máy in</p>
			<p class="printBoxText">Hiện tại: Không</p>
			<button class="printerChoose" id="printerChooseButton">Chọn máy in</button>
		</div>
	</div>

	<div class="ContinueButtonBox">
		<a class="ContinueButton" href="/Student/PageConfig" class="ContinueButton">Tiếp tục</a>
	</div>

	<!-- Lựa máy in -->
	<div class="printerModal" id="printerModal">
    <div class="modalContent">
			<div class="modalContentHeader">
				<p class="modalContentHeaderTitle">Chọn Máy In</p>
				<button id="closeModalButton" class="closeButton">X</button>
			</div>

			<div class="printerButtonList">
				<button class="printerButton" data-printer="Printer 1111">
					<p class="printerButtonName">Máy ABC-1:A4 - Lầu 1</p>
					<p class="printerButtonID">ID: 1111</p>
				</button>
				<button class="printerButton" data-printer="Printer 1112">
					<p class="printerButtonName">Máy ABC-2:C6 - Lầu 3</p>
					<p class="printerButtonID">ID: 1112</p>
				</button>
				<button class="printerButton" data-printer="Printer 1113">
					<p class="printerButtonName">Máy ABC-3:A4 - Lầu 2</p>
					<p class="printerButtonID">ID: 1113</p>
				</button>
				<button class="printerButton" data-printer="Printer 1114">
					<p class="printerButtonName">Máy ABC-4:A4 - Lầu 1</p>
					<p class="printerButtonID">ID: 1114</p>
				</button>
				<button class="printerButton" data-printer="Printer 1115">
					<p class="printerButtonName">Máy ABC-5:C6 - Lầu 3</p>
					<p class="printerButtonID">ID: 1115</p>
				</button>
				<button class="printerButton" data-printer="Printer 1116">
					<p class="printerButtonName">Máy ABC-6:A4 - Lầu 2</p>
					<p class="printerButtonID">ID: 1116</p>
				</button>
				<button class="printerButton" data-printer="Printer 1117">
					<p class="printerButtonName">Máy ABC-6:C6 - Lầu 6</p>
					<p class="printerButtonID">ID: 1117</p>
				</button>
			</div>

			<div>

			</div>
			
    </div>
	</div>

</body>

<style>
	.mainTitle {
			text-align: center;
			font-family: 'Arial';
			font-weight: bold;
			margin-top: 5%;
	}
	.documentPrinterBox {
			display: flex;
			justify-content: space-between;
			margin-top: 5%;
	}
	.documentBoxTitle {
			font-family: Arial;
			font-size: 24px;
			font-weight: bold;
	}
	.documentBoxText {
			font-family: Arial;
			font-size: 16px;
			opacity: 0.5;
			margin-top: 5%;
	}
	.documentButton {
			border: none;
			border: 2px rgba(0, 0, 0, 0.3) solid;
			border-radius: 10px;
			background-color: white;
			padding: 10px;
			margin-top: -10px;
			display: inline-block;
			text-align: center;
			cursor: pointer;
	}

	.printBox {
		margin-right: 35%;
	}
	.printBoxTitle {
		font-family: Arial;
		font-size: 24px;
		font-weight: bold;
	}
	.printBoxText {
			font-family: Arial;
			font-size: 16px;
			opacity: 0.5;
			margin-top: -10px;
	}
	.printerSelector {
		border: none;
		border: 2px rgba(0, 0, 0, 0.3) solid;
		border-radius: 10px;
		background-color: white;
		padding: 10px;
		margin-top: -10px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	.ContinueButtonBox {
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.ContinueButton {
		border: none;
		background-color: black;
		color: white;
		border-radius: 20px;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 10%;
		padding-right: 10%;
		text-decoration: none;
	}

	.printerModal {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.modalContent {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    position: fixed; /* Keeps modal fixed */
		top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* Prevent scrolling of the entire modal */
	}
	.modalContentHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		font-weight: bold;
	}
	.modalContentHeaderTitle {
		margin-bottom: 0;
		text-align: center;
		margin-left: 44%;
	}
	.closeButton {
		border: none;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		text-align: right;
		margin-bottom: 10px;
	}
	.printerButtonList {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 2px solid black;
		border-radius: 10px;
		height: 400px; /* Set a fixed height */
		overflow-y: auto; /* Enable scrolling for the list */
		padding: 10px;
		margin-top: 10px;
	}
	.printerButton {
		display: flex;
		justify-content: space-between;
		margin-top: 1%;
		margin-bottom: 1%;
		margin-left: 10px;
		margin-right: 10px;
	}
	.printerButtonName {
		text-align: left;
	}
	.printerButtonID {
		text-align: right;
	}
</style>

<script>
	const fileInput = document.getElementById('fileInput');
	const documentButton = document.getElementById('documentButton');

	fileInput.addEventListener('change', (event) => {
		const file = event.target.files[0];
		if (file) {
			const fileName = file.name;
			const validExtensions = ['.pdf', '.docx'];

			if (validExtensions.some(ext => fileName.toLowerCase().endsWith(ext))) {
				documentButton.textContent = fileName; 
				documentButton.style.color = 'green';
			} else {
				alert('Định dạng tệp không hợp lệ. Vui lòng chọn tệp PDF hoặc DOCX.');
				fileInput.value = '';
				documentButton.textContent = 'Chọn tài liệu để tải'; 
				documentButton.style.color = 'black';
			}
		} else {
			documentButton.textContent = 'Chọn tài liệu để tải'; 
		}
	});


	const printerModal = document.getElementById('printerModal');
	const closeModalButton = document.getElementById('closeModalButton');
	const openModalButton = document.getElementById('printerChooseButton');
	const printBoxText = document.querySelector('.printBoxText');
	const printerButtons = document.querySelectorAll('.printerButton');

	openModalButton.addEventListener('click', () => {
		printerModal.style.display = 'block';
	});

	closeModalButton.addEventListener('click', () => {
		printerModal.style.display = 'none';
	});

	printerButtons.forEach(button => {
		button.addEventListener('click', () => {
				const printerName = button.querySelector('.printerButtonName').textContent;
				printBoxText.textContent = `Hiện tại: ${printerName}`;
				printerModal.style.display = 'none'; 
		});
	});

</script>
</html>
